language: node_js
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
    - gh-pages
node_js:
  - '9'
  - '10'
before_install:
  - npm install -g greenkeeper-lockfile@1
install:
  - npm install
script:
  - npm run build
before_script:
  - greenkeeper-lockfile-update
after_success:
  - npm run semantic-release
after_script:
  - greenkeeper-lockfile-upload
deploy:
  provider: pages
  on:
    branch: master
  local-dir: build
  github-token: $GH_TOKEN
  skip_cleanup: true
cache:
  directories:
    - ~/.npm
notifications:
  email: false
